.jumbotron {
    opacity: 0.8;
}

body {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-position: center;
}

.container {
    opacity: 0.8;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 225px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 100px;
    
}